@model CategoryModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create new Category</h2>

<form method="post">
    @Html.EditorForModel("CategoryCreationEditorTemplate");
    <button type="submit" class="btn btn-primary hvr-grow">Submit</button>
</form>
