@model CategoryModel

@{
    ViewData["Title"] = "Edit Category";
}

<h2>Edit Category: @Model.Name</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Category name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

