@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:right">
    <input id="getLatest" type="button" class="btn btn-success" value="Get Latest" />
</div>
<div class="latestNews"></div>
<div>
    <h2 id="categoryHeading">Lifestyle News</h2>
    @Html.DisplayForModel("ArticlesDisplayTemplate");
</div>

<script>
    $(document).ready(() => { 
        $('#getLatest').on('click', () => {
            var url = 'https://newsapi.org/v2/top-headlines?' +
                'country=bg&' +
                'apiKey=247a0ba6d5a3416ba6e0075391893d63';
            var req = new Request(url);
            fetch(req)
                .then(function (response) {
                    response.json().then((data) => {
                        let articles = data.articles;
                        $(".latestNews").append(`<h2 id="categoryHeading">Latest News from Bulgaria</h2>`)

                        for (let article of articles) {
                            console.log(article);
                            if (article.title != null &&
                                article.description != null &&
                                article.author != null &&
                                article.urlToImage != null &&
                                article.url != null) {
                                $(".latestNews").append(`
                            <div class="article">
                                <a style="font-size:24px;text-decoration:none" href="${article.url}" class="hvr-float" target="_blank">${article.title})</a>
                                <img src="${article.urlToImage}" style="width:300px;display:block"/>
                                <p class="description">${article.description}</p>
                                <label class="author" style="margin:0">Author: ${article.author}</label>
                                <label class="source">Source site: ${article.source.name}</label>
                                <label class="publishedDate">Published Date: ${new Date(article.publishedAt).toUTCString()}</label>
                            </div>
                            `)
                            }
                        }
                    });
                })
        })
    })
</script>