@model List<User>

@foreach (var user in @Model)
{
    <div class="userDiv">
        <span style="float:left; margin:0 7px 0 15px">&#9733;</span><a asp-area="Users" asp-controller="Manage" asp-action="Details" asp-route-id="@user.Id">@user.UserName</a>
    </div>
}